body {
  --hr-cell-hover-color: rgba(0, 0, 0, 0.05);
  --hr-cell-border-bottom: 0.4px solid rgba(0, 0, 0, 0.2);
}

.hr-cell {
  padding: 10px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: var(--hr-cell-border-bottom);
  background-color: rgba(0, 0, 0, 0);
}

.hr-cell:active {
  background-color: var(--hr-cell-hover-color)
}