.tabbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: var(--footer-height);
  bottom: -1px;
  left: 0px;
  width: 100vw;
  position: fixed;
  background-color: #fff;
  z-index: 100;
  /* box-shadow: 0px -1px 4px rgba(0, 0, 50, 0.03); */
  border-top: 0.6px solid rgba(0,0,0,0.2);
  justify-content: space-around;
  padding-bottom: var(--safe-bottom);
}

.tabbar-item {
  background-color: #fff;
  flex: 1;
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tabbar-title {
  margin-top: 3px;
  margin-bottom: 5px;
  color: var(--icon-color);
  font-size: 10px;
  transition: all 0.2s ease-in-out;
  transform: scale(1.0);
}

.tabbar-title-selected {
  font-size: 10px;
  /* font-weight: bold; */
  color: var(--main-color);
  /* transform: scale(1.06); */
}

.tabbar-icon {
  color: var(--icon-color);
  font-size: 21px;
  transition: all 0.2s ease-in-out;
  transform: scale(1.0);
}

.tabbar-icon-selected {
  color: var(--main-color);
  transform: scale(1.1);
}